.site-footer {
  background: #f5f8f3;
  font-size: 15px;
  color: #333;
  padding-block: var(--layout-padding-block);
  padding-bottom: 0;
}
.site-footer .footer-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.8fr 1fr;
  gap: 40px;
}
.site-footer .footer-logo {
  max-width: 220px;
  margin-bottom: 20px;
}
.site-footer .footer-col strong {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}
.site-footer .footer-col strong::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.site-footer .footer-col ul {
  list-style: none;
  padding: 0;
}
.site-footer .footer-col .two-ul-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;
}
.site-footer .footer-col ul li {
  margin-bottom: 10px;
}
.site-footer .footer-col ul li a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
.site-footer .footer-col ul li a:hover {
  color: #0a58ca;
  padding-left: 5px;
}
.site-footer .social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}
.site-footer .social-icons a {
  width: 42px;
  height: 42px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.site-footer .social-icons a i {
  --cc-icon-size: 20px; 
  --cc-icon-color: #fff;
}
.site-footer .social-icons a:hover {
  transform: translateY(-6px) scale(1.1);
}
.site-footer .in:hover {
  background: #0a66c2;
}
.site-footer .ig:hover {
  background: #e1306c;
}
.site-footer .fb:hover {
  background: #1877f2;
}
.site-footer .yt:hover {
  background: #ff0000;
}
.site-footer .tw:hover {
  background: #000;
}
.site-footer .footer-bottom {
  background: #cfd4d6;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}
.site-footer .footer-bottom a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}
.site-footer .footer-bottom a:hover {
  text-decoration: underline;
}
.site-footer .contact-list .nav-link{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* ----------------------------------------------------- */
@media (max-width: 992px) {
  .site-footer .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .site-footer .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .site-footer .footer-grid {
    grid-template-columns: 1fr;
  }
}
